### ----------------------------------------------------------------------------
## data file
### ----------------------------------------------------------------------------
# *.dat
# *.cfg
# *.xyz

### ----------------------------------------------------------------------------
###  Python, python-jupyter stuff
### ----------------------------------------------------------------------------
## goodsync ignore
**/_gsdata_/

## python-jupyter stuff
**/.ipynb_checkpoints/
**/__pycache__/

## tmp file due to office: ~$_*.doc,  ~$_*.ppt
**/~*.*

/_static
